worker_processes  1;
pid        {{ .Pid }};
user       {{ .User }} {{ .Group }};

events {
    worker_connections  1024;
}

http {
    include                 {{ .BrewDir }}/etc/nginx/mime.types;
    default_type            application/octet-stream;
    sendfile                on;
    keepalive_timeout       65;
    server_names_hash_bucket_size 256;
    #gzip  on;
    include {{ .ConfigDir }}/nginx_route_*.conf;
    include {{ .ConfigDir }}/nginx_app_*.conf;
}