server {
    listen          {{ .Port }};
    server_name     localhost;
    client_max_body_size 200M;
    set $_rewrite_path "";
    set $_rewrite_querystring "";
    location @rewrite {
          rewrite . $_rewrite_path;
    }
    location @rewrite_qs {
          rewrite . $_rewrite_path?$_rewrite_querystring;
    }
    {{ range .Locations }}
    location = "{{ .Path }}" {
        alias {{ .Root }};
        set $_rewrite_path "{{ .Passthru }}";
        try_files       $uri @rewrite;
        expires         0;
    }
    location "{{ .Path }}/" {
        alias {{ .Root }}/;
        location "{{ .Path }}/" {
            set $_rewrite_path "{{ .Passthru }}";
            try_files       $uri @rewrite;
            expires         0;
            {{ range .Rules }}
            location ~ "{{ .Path }}" {
                set $_rewrite_path "{{ .Passthru }}";
                {{ if eq .Passthru "" }}
                try_files       $fastcgi_script_name =404;
                {{ else }}
                try_files       $fastcgi_script_name @rewrite;
                {{ end }}
            }
            {{ end }}

        }
        location ~ ".+?\.php(?=$|/)" {    
            set $_rewrite_path "{{ .Passthru }}";
            try_files       $fastcgi_script_name @rewrite;
            fastcgi_pass    "unix:{{ .Socket }}";
            fastcgi_request_buffering on;
            client_max_body_size 250m;
            set $_document_root $document_root;
            include         "nginx_fastcgi_params.normal";
            # Split the script name from the path info, set it as a variable so
            # that it persists after try_files has resolved the actual filename.
            fastcgi_split_path_info ^(.+?\.php(?=$|/))((?:/.*)?)$;
            set $path_info  $fastcgi_path_info;
        }

    }
    {{ end }}
}