# {{ .ProjectName }}

{{ range .Hosts }}
server {
    listen          {{ .Port }};
    server_name     {{ .Host }};
    error_page      500 502 503 504  /50x.html;
    client_max_body_size 200M;
    location = /50x.html {
        root   html;
    }

    set $_rewrite_path "";
    set $_rewrite_querystring "";
    location @rewrite {
          rewrite . $_rewrite_path;
    }
    location @rewrite_qs {
          rewrite . $_rewrite_path?$_rewrite_querystring;
    }

    {{ range .Locations }}
    {{ if eq .Type "upstream" }}
    location "{{ .Path }}/" {
        location ~* {
            include "upstreams/{{ .Upstream }}";
        }
    }
    {{ else if eq .Type "redirect" }}
    # TODO redirect to {{ .To }}
    {{ end }}
    {{ end }}
}
{{ end }}
