# {{ .ProjectName }}

{{ range .Hosts }}

server {
    listen          {{ .Port }};
    server_name     {{ .Host }};
    error_page      500 502 503 504  /50x.html;
    location = /50x.html {
        root   html;
    }
    {{ range .Locations }}
        {{ if eq .Type "upstream" }}
        include "server/up_{{ .Upstream }}";
        {{ else if eq .Type "redirect" }}
        # TODO
        {{ end }}
    {{ end }}
}

{{ end }}
