date.timezone=${PHP_DATE_TIMEZONE}
session.save_path=/tmp
memory_limit=2048M
{{ if eq .Name "php-5.6" }}
variables_order=EGPCS
{{ end }}
{{ range $key, $ext := .Params.Extensions }}
{{ if eq $ext "xdebug" }}
zend_extension={{ $.DataDir }}/{{ $ext }}.so
xdebug.start_with_request=yes
xdebug.mode=debug
{{ else }}
extension={{ $.DataDir }}/{{ $ext }}.so
{{ end }}
{{ end }}